<li class="item">
    <a href="/">Start</a>
</li>
<li class="item">
    <a href="/news.html">News</a>
</li>
<li class="item">
    <a href="/events.html">Events</a>
</li>
<li class="item">
    <a href="/groups.html">Groups</a>
</li>
<li class="item">
    <a href="/contact.html">Contact</a>
</li>