<li class="item">
    <a href="/">Start</a>
</li>
<li class="item">
    <a href="#">News</a>
</li>
<li class="item">
    <a href="#">Events</a>
</li>
<li class="item">
    <a href="/groups.html">Groups</a>
</li>
<li class="item">
    <a href="#">Contact</a>
</li>