{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <ul class="span4" id="mainMenu">
            {% include "common/menu.twig" %}
        </ul>
        <div class="span8" id="eventsList" ng-controller="EventsController">
            <div class="row-fluid">
                <ul class="span3 offset1" id="listEvents">
                    <li ng-repeat="(date,data) in events" class="item">
                        <h1>{[date]}</h1>
                        {[ data.description ]}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}