{% extends "layout.twig" %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <ul class="span4" id="mainMenu">
            {% include "common/menu.twig" %}
        </ul>
        <div class="span8" id="clubsList" ng-controller="ClubsController">
            <div class="row-fluid">
                <ul class="span3 offset1" id="listCountries">
                    <li ng-repeat="(symbol,cntry) in countries" class="item" ng-class="{active: symbol == country}">
                        <a href="#" ng-click="chooseCountry(symbol)">
                            <img src="#" ng-src="http://placehold.it/75/75" />{[ cntry ]}
                        </a>
                    </li>
                </ul>
                <div class="span6">
                    <ul id="listClubs">
                        <li ng-repeat="(city,data) in clubs[country]" class="item">
                            <h2 class="cityTitle">{[city]}</h2>
                            <strong>www:</strong> <a href="#" ng-href="http://{[data.www]}">{[data.www]}</a><br />
                            <strong>fb:</strong> <a  href="#" ng-href="http://facebook.com/{[data.fb]}">{[data.fb]}</a><br />
                            <strong>mail:</strong> <a href="#" ng-href="mailto:{[data.mail]}">{[data.mail]}</a><br />
                            <strong>gsm:</strong> {[data.gsm]}<br />
                            <a href="#">show on map</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row-fluid">
                <button class="pull-right btn btn-primary btn-large">Dodaj klub</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}