{% extends "common/layout.html.twig" %}

{% block content %}
<div class="container-fluid" ng-controller="BoardController">
    <div class="row-fluid">
        <div id="tails" class="span8">
            <a ng-repeat='video in videos' class="item size{[$index%7]}" href="http://www.youtube.com/watch?v={[video]}" rel="prettyPhoto[videos]">
                <img src="#" ng-src="http://img.youtube.com/vi/{[video]}/0.jpg" />
            </a>
        </div>
        <ul class="span4" id="mainMenu">
            <li class="item">
                <a href="#">News</a>
            </li>
            <li class="item">
                <a href="#">Events</a>
            </li>
            <li class="item">
                <a href="/clubs.html">Clubs</a>
            </li>
            <li class="item">
                <a href="#">Contact</a>
            </li>
        </ul>

    </div>
</div>
{% endblock %}