{% block content %}
<div class="container-fluid" ng-controller="BoardController">
    <div class="row-fluid">
        <div id="tails" class="span8" isotope="collection"></div>
        <ul class="span4 pull-right" id="mainMenu">
           {% include "common/menu.twig" %}
        </ul>
    </div>
</div>
{% endblock %}