<li class="item">
    <a href="#/start">Start</a>
</li>
<li class="item">
    <a href="#/news">News</a>
</li>
<li class="item">
    <a href="#/events">Events</a>
</li>
<li class="item">
    <a href="#/groups">Groups</a>
</li>
<li class="item">
    <a href="#/contact">Contact</a>
</li>